/* Estilos generales del formulario */
.formContainer {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 12px;
    background-color: #bbbaba;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  /* Estilos para las etiquetas del formulario */
  .formLabel {
    font-size: 1rem;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #333;
    margin-bottom: 8px;
    display: block;
  }
  
  /* Estilos para los controles del formulario */
  .formControl {
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 1rem;
    color: #333;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .formControl:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
    outline: none;
  }
  
  /* Estilos para el botón de envío */
  .submitButton {
    background-color: #1c1d1d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .submitButton:hover {
    background-color: #1c1d1d;
    transform: scale(1.05);
  }
  
  .submitButton:active {
    background-color: #00408c;
  }
  