.lista{
  text-align: center;
}

.lista h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.lista li{
  list-style: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.link :hover{
  color: blueviolet;
}
